{% extends 'base.html' %}

{% block title %}
Scrumptious recipes
{% endblock title%}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
    </nav>
</header>
<main>
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}" alt="picture of veggie tacos">
    <div>4.3 stars</div>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    <table>
        <thead>
            <th>Amount</th>
            <th>Food item</th>
        </thead>
        <tbody>
            <tr>
                <td>1 cup</td>
                <td>Green beans</td>
            </tr>
            <tr>
                <td>3 ears</td>
                <td>Fresh corn</td>
            </tr>
            <tr>
                <td>2 cups</td>
                <td>Tomatillo salsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Corn tortillas</td>
            </tr>
            <tr>
                <td>0.5 cups</td>
                <td>Cotija cheese</td>
            </tr>
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe_object.steps.all%}
            <li>{{step.instruction}}</li>
        {%endfor%}
    </ol>
</main>
{% endblock content%}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>

    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>
