{% extends 'base.html' %}

{% block title %}
Scrumptious recipes
{%endblock title%}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
    </nav>
</header>
<main>
    <h1>Edit {{ post_object.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Save</button>
    </form>
</main>{% endblock content%}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>

    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>
