
{% extends 'base.html' %}
{% block title%}
Scrumptious Recipes
{% endblock title%}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="grid-container" >
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>{{ recipe.created_on|date:"d M Y"}}</p>
            <img src="{{ recipe.picture }}" alt="{{ recipe.description }}">
            <div>
                4.3 stars
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content%}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>
