

body {
    margin: 0px;
    padding: 0px
}

main {
    padding: 16px;
}

footer{

    padding: 24px 0px 24px 10px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    background-color: #B4CF66;
    font-size: 200%;
}

img{
    height: 200px;
    width: 200px
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
    color: white
}

a{
    text-decoration: none;
}
main a:visited{
    color: green;
}

nav a:visited{
    color: white;

}


h1{
    color: rgb(5, 102, 5)
}

.grid-container{
display: grid;
grid-template-columns: repeat(4, 1fr)
}


table tr:nth-child(even){
    background-color: rgb(225, 217, 217);
}
